* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e2f0;
}

.qr-preview {
  background-color: #fff;
  padding: 1.4rem;
  max-width: 33rem;
  height: 50rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.imgBx {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.imgBx .img {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.contentBx {
  padding: 1.4rem 1.4rem 2.4rem 1.4rem;
}
.content-header {
  text-align: center;
  color: #1f3251;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.content-text {
  text-align: center;
  color: #666;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
